<nav>
  <h2>Routing Tasl</h2>
  <ul>
    <li><a routerLink="">intro</a></li>
    <li><a routerLink="/component2">Data Binding</a></li>
    <li><a routerLink="/courses">P-C-components</a></li>
    <li>
      <div class="dropdown">
        <button class="dropbtn">Components</button>
        <div class="dropdown-content">
          <a routerLink="/reference-v">Reference variables</a>
          <a routerLink="/viewchild">@viewchild</a>
          <a routerLink="/ng-content">ng-content</a>
          <a routerLink="/lifecyclehooks">Life-cycle-Hooks</a>
          <a routerLink="/contentchild">@contentchild</a>
          <a routerLink="/customedirective">custome class directive</a>
          <a routerLink="/custome-structural-Directives">
            custome-structural-Directives
          </a>
          <a routerLink="/ngSwitch">ng-Switch</a>
          <a routerLink="/services">Services</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
