<div class="container">
      <p>"{{ourstrenght}}"</p>
      <h1>Our Courses</h1>

      <div class="courses" *ngIf="coursesall.length>0 ; else nocourse"  >
            <div class="course" *ngFor="let c of coursesall ; let i= index" >
             <small>Course : {{i}}</small>   <h4>{{c.name}}</h4>
                <small >{{c.price}}</small><small>{{c.type}}</small>
                <button class="btn">Enroll Now</button>

            </div>
      </div>
      <ng-template #nocourse>
            <h1>There is No Course in this List</h1>
      </ng-template>

</div>
