<div class="container">
      <h1>This is the coding intervirew for angular ervisions </h1>
      <h1 appSetbackground  appHostlistner [defualtColor]="'yellow'"  [hoverColor]="'red'">The Root Component is app component</h1>
      <p>angular application in make by diffrent components . 
      component has an ts class or an html file . component has also an css file</p>
      <p>we use the selecter of this file to show this component in the view od the web</p>
      <h1>First  12 videos material is in this coponent </h1>
      <p>The introduction to angular  to diffrent 
            selecters of the component is used in this
             component </p>
             <a href="">ng generate component component-name </a>
<p>this is the command to generate the component by angular cli</p>
<h4>Run angular app in browser</h4>
<p>First we need to run this angular project for check there is no Error .
       so thats why we compile this app by the command in terminal  </p>
<a href="">ng serve</a>
<p>this command compile angular application and give us
       an path where we see the view of our angular application</p>
<a href="">localhost//42000 the defualt path of angular project running</a>

<h3>template and style property</h3>
<p>template and style property are  used to write component html and css in the same ts file </p>
<!-- <p>template: `<div><h1>Hello ali this is template property text</h1></div>`  </p>  -->
<!-- <p>style:["div{color:red; padding:10px}]</p>
<p>style:[".className{color:red; padding:10px}]</p> -->
<h3>Using bootstrap in angular</h3>
<p>first we need to install the bootstrap in angular app by cli</p>
<a href="">npm install bootstrap</a>
<p>this is the command to install the bootstrap in angular project </p>
<p>then we need to import the bootstrap links in  the angular.json file in this file we go to styles and 
      there we give the path of the bootstrap min.css file after this we are able to use the bootstrap
      in out angular app
</p>

</div>